# ─── Backend Core ────────────────────────────────────────
fastapi
uvicorn[standard]
sqlalchemy
pymysql
python-dotenv
python-multipart
psutil


# ─── Authentication ──────────────────────────────────────
passlib[bcrypt]
python-jose[cryptography]

# ─── Ticket Generation ───────────────────────────────────
reportlab
qrcode
Pillow

# ─── Async & Email ───────────────────────────────────────
aiofiles
fastapi-mail
email-validator

# ─── Database Migrations ────────────────────────────────
alembic
